<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="STYLESHEET" type="text/css" href="../../resources/include/dhtmlx.css">
    <script src="../../resources/include/dhtmlx.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/style.css">
    <title>KPacs</title>
</head>
<body style="text-align: center">
<h1>KPacs</h1>
<div>
    <form th:method="GET" th:action="@{/sort}" th:object="${myform}">
        <a>Sort by:</a>
        <select th:id="sort_select" th:field="*{sortingTitleArray}">
            <option value=""> --</option>
            <option th:each="s : ${sort_select}"
                    th:value="${s}"
                    th:text="${s}"/>
        </select>
        <a>Filter by:</a>
        <select th:id="filter" th:field="*{filter}">
            <option value=""> --</option>
            <option th:each="f : ${filter}"
                    th:value="${f}"
                    th:text="${f}"/>
        </select>
        <button type="submit" class="button-8" onclick="sort()">Sort</button>
    </form>
</div>
<br><br>
<a style="text-align: center" th:text="Create" th:href="@{/createKpac}"></a>
<br><br>
<br>
<div id="gridbox"
     style="margin-left:auto; margin-right:auto;right:400px; text-align: center; width:650px;height:700px;"></div>
<script>
    function deleteById(id) {
        fetch("http://localhost:8080/delete/" + id, {method: 'POST'});
        location.reload();
    }

    function sort() {
        let filter = $("#filter").val();
        let sort_select = $("#sort_select").val();
        if (filter === null || filter === "") {
            filter = null;
        }
        if (sort_select === null || sort_select === "") {
            sort_select = null;
        }
        set_cookie("filter", filter);
        set_cookie("sort_select", sort_select);
        location.assign("http://localhost:8080/sort/");
    }

    function set_cookie(name, value, exp_y, exp_m, exp_d, path, domain, secure) {
        let cookie_string = name + "=" + escape(value);

        if (exp_y) {
            let expires = new Date(exp_y, exp_m, exp_d);
            cookie_string += "; expires=" + expires.toGMTString();
        }

        if (path)
            cookie_string += "; path=" + escape(path);

        if (domain)
            cookie_string += "; domain=" + escape(domain);

        if (secure)
            cookie_string += "; secure";

        document.cookie = cookie_string;
    }

    mygrid = new dhtmlXGridObject('gridbox');
    mygrid.setImagePath("include/imgs/");
    mygrid.setHeader("ID,Title,Description,Creation Date,Delete");
    mygrid.setInitWidths("100,100,200,150,100");
    mygrid.setColAlign("left,left,left,left,left");
    mygrid.setColumnIds("id,title,description,date_of_creation,delete");
    mygrid.setColTypes("ro,ed,ed,ed,ed");
    mygrid.setColSorting("str,str,str,str,str");
    mygrid.setStyle("text-align:center;background-color:navy;color:black; font-weight:bold;",
        "text-align:center;", "text-align:center;color:red;", "text-align:center;");
    mygrid.attachEvent("onRowDblClicked", deleteById);
    mygrid.attachEvent("onBeforeSelect", function (row, old_row) {
        return false;
    });
    mygrid.init();
    mygrid.load("http://localhost:8080/kpacs", "js");
</script>
</body>
</html>