<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <link rel="STYLESHEET" type="text/css" href="../../include/dhtmlx.css">
    <script src="../../include/dhtmlx.js"></script>
    <meta charset="ISO-8859-1">
    <title>kpac_main</title>
</head>

<body>

<p>Hello world!</p>
<div>
    <form th:method="GET" th:action="@{/sort}" th:object="${myform}">
        <a>Sort by:</a><br>
        <!--  example of getting checkbox
        <input type="checkbox" th:text="ID" name="confirm1" th:checked="${confirm1}">-->

        <select th:field="*{sortingTitleArray}">
            <option value=""> --</option>
            <option th:each="s : ${sort_select}"
                    th:value="${s}"
                    th:text="${s}"/>
        </select>
        <a>Filter by:</a>
        <select th:field="*{filter}">
            <option value=""> --</option>
            <option th:each="f : ${filter}"
                    th:value="${f}"
                    th:text="${f}"/>

        </select>
        <button type="submit">Sort</button>
    </form>
</div>
<br>
<a style="text-align: center" th:text="Create" th:href="@{/createKpac}"></a>
<div id="gridbox" style="text-align: center; width:550px;height:700px;"></div>
<script>
    /* 	function doOnRowSelected(id){
             alert("Rows with id: "+id+" was selected by user")
         }

         function doOnChecked(row_id,cell_index,state) {
             console.log("Rows with id: " + row_id + " cell_index: " + cell_index + " state: " + state)
             if (state == true) {
                 mygrid.cellById(row_id, 7).setValue("Daniel Houston");    // are you getting from session???
             } else {
                 mygrid.cellById(row_id, 7).setValue("");
             }
         }*/

    function sort(myform) {

    }
    function doOnRowSelected(id) {
        alert("Rows with id: " + id + " was selected by user")
    }

    mygrid = new dhtmlXGridObject('gridbox');
    mygrid.setImagePath("include/imgs/");
    mygrid.setHeader("ID,Title,Description,Creation Date");
    mygrid.setInitWidths("100,100,200,150");
    mygrid.setColAlign("left,left,left,left");
    mygrid.setColumnIds("id,title,description,date_of_creation");
    mygrid.setColTypes("ro,ed,ed,ed");
    mygrid.setColSorting("str,str,str,str");
    /* mygrid.attachEvent("onCheck", doOnChecked);*/
    mygrid.attachEvent("onRowSelect", doOnRowSelected);
    mygrid.init();

    mygrid.load("http://localhost:8080/kpacs", "js");
</script>
</body>
</html>