<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <meta charset="UTF-8">
    <title>set</title>
    <link rel="STYLESHEET" type="text/css" href="../../resources/include/dhtmlx.css">
    <script src="../../resources/include/dhtmlx.js"></script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> ID</th>
        <th> Title</th>
        <th> Description</th>
        <th> Creation Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kpac : ${kpacs_by_id}">
        <td><span th:text="${kpac.getId()}"> ID </span></td>
        <td><span th:text="${kpac.getTitle()}"> Title </span></td>
        <td><span th:text="${kpac.getDescription()}"> Description </span></td>
        <td><span th:text="${kpac.getDate_of_creation()}"> Creation Date </span></td>
    </tr>
    </tbody>
</table>
<div id="gridbox" style="text-align: center; width:650px;height:700px;"></div>
<script>
  /*  function deleteById(id) {
        fetch("http://localhost:8080/delete/" + id, {method: 'POST'});
        document.cookie = "id="+id;
        location.reload();
    }*/

    function get_cookie ( cookie_name )
    {
        var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );

        if ( results )
            return ( unescape ( results[2] ) );
        else
            return null;
    }
    let id = get_cookie("id");

    mygrid = new dhtmlXGridObject('gridbox');
    mygrid.setImagePath("include/imgs/");
    mygrid.setHeader("ID,Title,Description,Creation Date");
    mygrid.setInitWidths("100,100,200,150");
    mygrid.setColAlign("left,left,left,left");
    mygrid.setColumnIds("id,title,description,date_of_creation");
    mygrid.setColTypes("ro,ed,ed,ed");
    mygrid.setColSorting("str,str,str,str");
    /* mygrid.attachEvent("onCheck", doOnChecked);*/
    // mygrid.attachEvent("onRowSelect", doOnRowSelected);
    /*  mygrid.attachEvent("onRowDblClicked", deleteById);*/
    mygrid.attachEvent("onBeforeSelect", function (row, old_row) {
        return false;
    });
    mygrid.init();

    mygrid.load("http://localhost:8080/sets/"+id, "js");
</script>

</body>
</html>