<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>set</title>
    <link rel="STYLESHEET" type="text/css" href="../../resources/include/dhtmlx.css">
    <script src="../../resources/include/dhtmlx.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/style.css">
</head>
<body>
<br><br>
<h1>here will be id from js</h1>
<br><br>
<div id="gridbox"
     style="margin-left:auto; margin-right:auto;right:400px; text-align: center; width:550px;height:700px;"></div>
<script>
    function get_cookie(cookie_name) {
        var results = document.cookie.match('(^|;) ?' + cookie_name + '=([^;]*)(;|$)');

        if (results)
            return (unescape(results[2]));
        else
            return null;
    }

    let id = get_cookie("id");
    let h1 = document.getElementsByTagName('h1')[0];
    h1.innerHTML = 'Selected set with id: ' + id;

    mygrid = new dhtmlXGridObject('gridbox');
    mygrid.setImagePath("include/imgs/");
    mygrid.setHeader("ID,Title,Description,Creation Date");
    mygrid.setInitWidths("100,100,200,150");
    mygrid.setColAlign("left,left,left,left");
    mygrid.setColumnIds("id,title,description,date_of_creation");
    mygrid.setColTypes("ro,ro,ro,ro");
    mygrid.setColSorting("str,str,str,str");
    mygrid.setStyle("text-align:center;background-color:navy;color:black; font-weight:bold;",
        "text-align:center;", "text-align:center;color:red;", "text-align:center;");
    mygrid.attachEvent("onBeforeSelect", function (row, old_row) {
        return false;
    });
    mygrid.init();
    mygrid.load("http://localhost:8080/sets/" + id, "js");
</script>
</body>
</html>