<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="STYLESHEET" type="text/css" href="../../resources/include/dhtmlx.css">
    <script src="../../resources/include/dhtmlx.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/style.css">
    <title>Sort</title>
</head>
<body style="text-align: center">
<h1>KPacs</h1>
<div>
    <form th:method="GET" th:action="@{/sort}" th:object="${myform}">
        <a>Sort by:</a>
        <select th:id="sort_select1" onchange="setFilter()" th:field="*{sortingTitleArray}">
            <option value=""> --</option>
            <option th:each="s : ${sort_select}"
                    th:value="${s}"
                    th:text="${s}"/>
        </select>
        <a>Filter by:</a>
        <select th:id="filter1" onchange="setSelect()" th:field="*{filter}">
            <option value=""> --</option>
            <option th:each="f : ${filter}"
                    th:value="${f}"
                    th:text="${f}"
                    th:id="${f}"/>
        </select>
        <button type="submit" class="button-8" onclick="sort()">Sort</button>
    </form>
</div>
<br><br>
<a style="text-align: center" th:text="Create" th:href="@{/createKpac}"></a>
<br><br>
<br>
<div id="gridbox"
     style="margin-left:auto; margin-right:auto;right:400px; text-align: center; width:550px;height:700px;"></div>
<script>
    function doOnRowSelected(id) {
        alert("Rows with id: " + id + " was selected by user")
    }

    function setFilter() {
        let filter = $("#filter1").val();
        document.cookie = 'filter=' + filter;
    }

    function setSelect() {
        let sort_select1 = $("#sort_select1").val();
        document.cookie = 'sort_select1=' + sort_select1;
    }

    function sort() {
        document.cookie = "filter=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "sort_select=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        let filter = $("#filter1").val();
        let sort_select = $("#sort_select1").val();
        if (filter === null || filter === "") {
            filter = null;
        }
        if (sort_select === null || sort_select === "") {
            sort_select = null;
        }
        location.assign("http://localhost:8080/sort/");
    }

    mygrid = new dhtmlXGridObject('gridbox');
    mygrid.setImagePath("include/imgs/");
    mygrid.setHeader("ID,Title,Description,Creation Date");
    mygrid.setInitWidths("100,100,200,150");
    mygrid.setColAlign("left,left,left,left");
    mygrid.setColumnIds("id,title,description,date_of_creation");
    mygrid.setColTypes("ro,ed,ed,ed");
    mygrid.setColSorting("str,str,str,str");
    mygrid.setStyle("text-align:center;background-color:navy;color:black; font-weight:bold;",
        "text-align:center;", "text-align:center;color:red;", "text-align:center;");
    mygrid.attachEvent("onRowSelect", doOnRowSelected);
    mygrid.init();
    mygrid.load("http://localhost:8080/sortKPac/", "js");
</script>
</body>
</html>